dataset*
*.log
version_*
*.gz
*.tar
*.zip
__pycache__
.vscode
simulation/bin/
*pth
*copy*
__pycache__/
#xvector

xvector/__pycache__/

*.py[cod]
*$py.class

*.so

/ packaging
.Python
*.csv
screenlog.*
xvector/build/

xvector/data/

xvector/runs/

xvector/logs/

xvector/checkpoints/

xvector/out/

xvector/plda/

xvector/lightning_logs/

xvector/lightning_logs copy/

xvector/x_vectors/

xvector/develop-eggs/

xvector/dist/

xvector/downloads/

xvector/eggs/

xvector/.eggs/

xvector/lib/

xvector/lib64/

xvector/parts/

xvector/sdist/

xvector/var/

xvector/wheels/

xvector/share/
xvector/python-wheels/

xvector/*.egg-info/

.installed.cfg
*.egg
MANIFEST
xvector/embeddings/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

xvector
xvector/htmlcov/

xvector/.tox/

xvector/.nox/

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
xvector/.hypothesis/

xvector/.pytest_cache/

xvector/cover/


*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

xvector/instance/

.webassets-cache

.scrapy

xvector/docs/
xvector/_build/


xvector/.pybuilder/

xvector/target/


.ipynb_checkpoints

xvector/profile_default/

ipython_config.py


xvector/ython-poetry.org/
xvector/docs/
xvector/basic-usage/
xvector/dm.fming.dev/
.pdm.toml

xvector/David-OConnor/
xvector/pyflow and github.com/
xvector/pdm-project/
pdm
xvector/__pypackages__/


celerybeat-schedule
celerybeat.pid

*.sage.py

.env
.venv
xvector/env/

xvector/venv/

xvector/bchlr-venv/

xvector/bachelor-venv/

xvector/ENV/

xvector/env.bak/

xvector/venv.bak/


.spyderproject
.spyproject

.ropeproject

xvector/
/site

xvector/.mypy_cache/

.dmypy.json
dmypy.json

xvector/.pyre/


xvector/.pytype/


xvector/cython_debug/


xvector/ithub.com/
xvector/github/
xvector/gitignore/
xvector/blob/
xvector/main/
xvector/Global/
JetBrains.gitignore

